@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

body {
  min-height: 100vh;
  margin: 0;
  background-color: var(--very-dark-blue);
  color: white;
  font-family: 'Rubik', system-ui, sans-serif;
  font-size: 15px;
}

#root {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
