.NavWrapper {
  width: 325px;
  background-color: var(--dark-blue);
}

.NavWrapper ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 70px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.Nav-links {
  color: var(--desaturated-blue);
  text-decoration: none;
  font-size: 18px;
}

.Nav-links.current,
.Nav-links:hover {
  color: white;
}

@media (min-width: 662px) {
  .NavWrapper {
    position: sticky;
    top: 40px;
    width: 260px;
    height: 520px;
  }

  .Nav {
    height: calc(100% - 360px);
  }

  .NavWrapper ul {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    margin-left: 4px;
    padding: 30px;
  }
}
